
.leftbox{
    height:450px;
    background-color:
  }
  .rightbox{
    height:420px;
    background-color: yellow;
    width:100%;
  }
  .cover {    
    object-fit: cover;    
}

.middle-cover{
  background-image: url('./assets/Group\ 2.svg');
  background-size: 100%;
  /* opacity: 0.4;
  filter: alpha(opacity=40); */
color:#fff;
height: 600px;
}

.middle-cover .col-md-2{
  
  height: 100%;
  margin-top: 200px;  
  
 justify-content: left;
 font-size: 20px;
}
/* .middle-cover content{

} */
 


  has-overlay::after {
      content: "";
      display: block;
      position: fixed;
      padding: 100px 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(black, 0.5);
  }
  .box{
    border: 1px solid yellow;
    width: 45px;
    height: 55px;

  }
  #overlay {
    position: absolute; /* Sit on top of the page content */
     /* Hidden by default */
   /*  width: 100%; Full width (cover the whole page) */
   /*  height: 100%; Full height (cover the whole page) */
    top: 45px; 
    left: 30%;
    bottom: 100px;}

    #container{
      margin: 0 auto;
      width:600px;
      padding-top:50px;
    }

    .img-class {
      width: 100%;
      height: auto;
      padding: 5px;
    }
    
    h2 {
      text-align:center;
      padding-bottom: 1em;
    }
    
    .slick-dots {
      text-align: center;
      margin: 0 0 10px 0;
      padding: 0;
      li {
        display:inline-block;
        margin-left: 4px;
        margin-right: 4px;
        &.slick-active {
          button {
            background-color:black;
          }
        }
        
        :hover{
          background-color: black;
        }
      }
    }
    
    /* Custom Arrow */
    .prev{
      color: #999;
      position: absolute;
      top: 38%;
      left: -2em;
      font-size: 1.5em;
        :hover{
          cursor: pointer;
          color: black;
        }
    }
    .next{
      color: #999;
      position: absolute;
      top: 38%;
      right: -2em;
      font-size: 1.5em;
      :hover{
          cursor: pointer;
          color: black;
        }
    }
    
    @media screen and (max-width: 800px) {
        .next {
            display: none !important;
        }
    }
    
    
    
    .one{ padding-left: 70px;
     
     
    }

    .two{
      padding-right: 70px;
    }
      
      
    
    #box-container{
      
      justify-content: center;
      margin-top: 20px;
      
      
    }

    #carousel2{
      display: flex;
      float:right;
     
    }

    
    .project{
      background-color: #FFFBF2;
      
    }
    .clip {
      background: url("assets/M.jpg");
      position:absolute;
      background-repeat: no-repeat;
      background-size: 1000px 1000px;
      padding-left: 140px;
      padding-top: 50px;
      border:none;
      clip: rect(100px,275px,198px,142px);
      left:-60px;
  }
    .btn{color: black;
      outline-color: yellow;
     align-content: center;

    }
    .column {
      float: left;
      width: 33.33%;
      padding: 5px;
    }
   
  
    }

   /* background-image: url() ;  Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  .bed{
     position: left;
     margin-top: 100px;
  }


}
/* parralelogram */
